FluComboBoxEx {
    background-color: rgb(62, 62, 62);
    border: 1px solid rgb(69, 69, 69);
    border-radius: 4px;
}

FluComboBoxEx:hover {
    background-color: rgb(74, 74, 74);
    border: 1px solid rgb(82, 82, 82);
}

FluComboBoxEx:pressed {
    background-color: rgb(55, 55, 55);
    border: 1px solid rgb(50, 50, 50);
}

FluComboBoxEx:disabled {
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(55, 55, 55);
}

#textBtn {
    color: white;
    text-align: left;
    background-color: transparent;
    border: 1px solid transparent;
}

#textBtn[isPlaceholder="true"] {
    color: rgb(150, 150, 150);
}

#iconBtn {
    background-color: transparent;
    border: 1px solid transparent;
}
