FluColorButton {
    background-color: [[backgroundColor]];
    border-radius: 4px;
    width: 30px;
    height: 30px;
}

FluColorButton:disabled {
    background-color: rgba(255, 255, 255, 25);
    border-radius: 4px;
    width: 30px;
    height: 30px;
}