FluHFlipView {
    background-color: transparent;
    border-radius: 4px;
}

#contextWidget {
    border-radius: 4px;
    background-color: transparent;
}

#lBtn {
    margin-left: 5px;
    background-color: rgb(45, 45, 45);
    border-radius: 4px;
}

#rBtn {
    margin-right: 5px;
    background-color: rgb(45, 45, 45);
    border-radius: 4px;
}
