FluHNavigationMoreItem {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

#iconBtn {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
}

#iconBtn:hover {
    background-color: rgb(50, 50, 50);
}

#hIndicatorWrap {
    background-color: transparent;
}

#hIndicator {
    background-color: transparent;
    border-radius: 2px;
}

#hIndicator[selected=true] {
    background-color: rgb(118, 185, 237);
}
