FluScrollBar {
    qproperty-trunkBackgroundColor: rgb(44, 44, 44);
    qproperty-handleBackgroundColor: rgb(159, 159, 159);
    qproperty-handleHoverColor: rgb(180, 180, 180);
}

FluScrollBarArrowButton {
    qproperty-normalColor: rgb(150, 150, 150);
    qproperty-hoverColor: rgb(210, 210, 210);
    qproperty-boundaryColor: rgb(80, 80, 80);
}