FluToggleSwitch {
    qproperty-borderColor: rgb(153, 153, 153);
    qproperty-fillColor: rgb(29, 29, 29);
    qproperty-fillColorOn: rgb(118, 185, 237);
    qproperty-knobColor: rgb(0, 0, 0);
    qproperty-textColor: rgb(255, 255, 255);
}
