QScrollArea {
    background-color: transparent;
    border: none;
    qproperty-tabHoverColor: rgba(255, 255, 255, 15);
    qproperty-tabPressedColor: rgba(58, 58, 58, 115);
    qproperty-tabSelectedColor: rgb(50, 50, 50);
    qproperty-tabSeparatorColor: rgba(255, 255, 255, 60);
    qproperty-tabSelectedStrokeColor: rgba(255, 255, 255, 12);
}

#mainWidget {
    background-color: transparent;
}
