FluColorPickerButton {
    border: 2px solid rgb(229, 229, 229);
    border-radius: 4px;
    /* padding: 4px; */
    /* border-bottom: 3px solid rgb(204, 204, 204); */
    background-color: [[color]];
}