FluInfoBadge {
    padding: 1px 3px 1px 3px;
    color: white;
}

FluInfoBadge[level="Info"] {
    color: white;
    qproperty-badgeColor: rgb(0, 90, 158);
}

FluInfoBadge[level="Suc"] {
    color: white;
    qproperty-badgeColor: rgb(15, 123, 15);
}

FluInfoBadge[level="Warn"] {
    color: white;
    qproperty-badgeColor: rgb(157, 93, 0);
}

FluInfoBadge[level="Error"] {
    color: white;
    qproperty-badgeColor: rgb(196, 43, 28);
}
