FluScrollBar {
    qproperty-trunkBackgroundColor: rgb(249, 249, 249);
    qproperty-handleBackgroundColor: rgb(138, 138, 138);
    qproperty-handleHoverColor: rgb(100, 100, 100);
}

FluScrollBarArrowButton {
    qproperty-normalColor: rgb(140, 140, 140);
    qproperty-hoverColor: rgb(80, 80, 80);
    qproperty-boundaryColor: rgb(210, 210, 210);
}