FluToggleSwitch {
    qproperty-borderColor: rgb(130, 130, 130);
    qproperty-fillColor: rgb(237, 237, 237);
    qproperty-fillColorOn: rgb(0, 90, 158);
    qproperty-knobColor: rgb(255, 255, 255);
    qproperty-textColor: rgb(0, 0, 0);
}
