FluTabBar {
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgba(0, 0, 0, 15);
}

#addTabBtn {
    border: none;
    border-radius: 4px;
    background-color: transparent;
}

#addTabBtn:hover {
    background-color: rgba(0, 0, 0, 9);
}

#addTabBtn:pressed {
    background-color: rgba(0, 0, 0, 6);
}
