FluTabBarItem {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 12px;
}

FluTabBarItem:hover {
    background-color: rgba(0, 0, 0, 10);
    border: 1px solid transparent;
}

FluTabBarItem[pressed=true] {
    background-color: rgba(255, 255, 255, 179);
    border: 1px solid transparent;
}

FluTabBarItem:pressed #textBtn {
    color: rgba(0, 0, 0, 114);
}

FluTabBarItem[selected=true] {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 12);
}

FluTabBarItem[selected=true]:hover {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 12);
}

FluTabBarItem[selected=true] #textBtn {
    color: rgba(0, 0, 0, 228);
    font-weight: 600;
}

#iconBtn {
    background-color: transparent;
    border: none;
}

#textBtn {
    background-color: transparent;
    border: none;
    text-align: left;
    color: rgba(0, 0, 0, 158);
}

#closeBtn {
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

#closeBtn:hover {
    background-color: rgba(0, 0, 0, 6);
}

#closeBtn:pressed {
    background-color: rgba(0, 0, 0, 9);
}

FluTabBarItem:disabled #textBtn {
    color: rgba(0, 0, 0, 92);
}

FluTabBarItem:disabled #iconBtn {
    color: rgba(0, 0, 0, 92);
}