FluDisplayIconBox {
    border: 1px solid rgb(255, 172, 220);
    border-radius: 4px;
    background-color: rgba(243, 145, 199, 0.95);
}

FluDisplayIconBox[selected=true] {
    border: 2px solid rgb(118, 185, 237);
}

FluDisplayIconBox:hover {
    background-color: rgba(243, 165, 209, 0.95);
}

#iconLabel {
    background-color: transparent;
}

#textLabel {
    background-color: transparent;
    font-size: 8px;
    color: rgb(73, 66, 71);
}