FluGraphicalButton {
    background-color: rgba(243, 145, 199, 0.95);
    border: 1px solid rgb(255, 172, 220);
    border-radius: 4px;
    border-bottom: 1px solid rgb(255, 172, 220);
}

FluGraphicalButton:hover {
    background-color: rgba(243, 165, 209, 0.95);
}

FluGraphicalButton:pressed {
    background-color: rgba(243, 165, 209, 0.95);
    border: 1px solid rgb(255, 172, 220);
}