QTextEdit {
    background-color: rgba(243, 145, 199, 0.95);
    border: 1px solid rgb(255, 172, 220);
    font-size: 14px;
    border-radius: 4px;
    border-bottom: 1px solid rgb(255, 172, 220);
    color: rgb(73, 66, 71);
}

QTextEdit:hover {
    background-color: rgba(243, 165, 209, 0.95);
}

QTextEdit:focus {
    background-color: rgba(243, 165, 209, 0.95);
    border-bottom: 2px solid rgb(118, 185, 237);
}