FluVNavigationView {
    /* background-color: aqua; */
    background-color: rgb(250, 118, 188);
}

#srollArea {
    border: none;
    /* background-color: rgb(32, 32, 32); */
    background-color: transparent;
}

#widget1,
#widget2,
#widget3 {
    background-color: rgb(250, 118, 188);
}