FluGalleryWindow {
    background-color: rgb(33, 37, 43);
}

#titleBar {
    color: white;
    background-color: rgb(33, 37, 43);
}

#horizontalNavView {
    background-color: rgb(40, 44, 52);
    border-bottom: 1px solid rgb(71, 74, 79);
}