FluInfoBadge {
    padding: 1px 3px 1px 3px;
    color: black;
    border-radius: 8px;
    min-height: 14px;
    min-width: 14px;
}

FluInfoBadge[level="Info"] {
    color: black;
    qproperty-badgeColor: rgb(82, 139, 255);
}

FluInfoBadge[level="Suc"] {
    color: black;
    qproperty-badgeColor: rgb(108, 203, 95);
}

FluInfoBadge[level="Warn"] {
    color: black;
    qproperty-badgeColor: rgb(252, 225, 0);
}

FluInfoBadge[level="Error"] {
    color: black;
    qproperty-badgeColor: rgb(255, 153, 164);
}
