FluPushButton {
    color: white;
    border: 1px solid rgb(71, 74, 79);
    border-radius: 4px;
    background-color: rgb(44, 48, 54);
    font-size: 15px;
}

FluPushButton[pill=true] {
    border-radius: 15px;
}

FluPushButton:hover {
    border: 1px solid rgb(80, 83, 88);
    background-color: rgb(52, 56, 62);
}

FluPushButton:pressed {
    border: 1px solid rgb(65, 68, 73);
    background-color: rgb(46, 50, 56);
    color: rgba(255, 255, 255, 180);
}

FluPushButton:disabled {
    color: rgba(255, 255, 255, 70);
    border: 1px solid rgb(55, 58, 63);
    background-color: rgb(35, 39, 45);
}
