FluTabBar {
    background-color: rgb(40, 44, 52);
    border-bottom: 1px solid rgba(255, 255, 255, 20);
}

#addTabBtn {
    border: none;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

#addTabBtn:hover {
    background-color: rgba(255, 255, 255, 15);
}

#addTabBtn:pressed {
    background-color: rgba(255, 255, 255, 10);
}
