FluTabBarItem {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 12px;
}

FluTabBarItem:hover {
    background-color: rgba(255, 255, 255, 15);
    border: 1px solid transparent;
}

FluTabBarItem[pressed=true] {
    background-color: rgba(58, 58, 58, 115);
    border: 1px solid transparent;
}

FluTabBarItem:pressed #textBtn {
    color: rgba(255, 255, 255, 135);
}

FluTabBarItem[selected=true] {
    background-color: rgb(62, 67, 76);
    border: 1px solid rgba(255, 255, 255, 30);
}

FluTabBarItem[selected=true]:hover {
    background-color: rgb(62, 67, 76);
    border: 1px solid rgba(255, 255, 255, 30);
}

FluTabBarItem[selected=true] #textBtn {
    color: rgb(255, 255, 255);
    font-weight: 600;
}

#iconBtn {
    background-color: transparent;
    border: none;
}

#textBtn {
    background-color: transparent;
    border: none;
    text-align: left;
    color: rgba(255, 255, 255, 197);
}

#closeBtn {
    background-color: transparent;
    border: none;
    border-radius: 4px;
}

#closeBtn:hover {
    background-color: rgba(255, 255, 255, 10);
}

#closeBtn:pressed {
    background-color: rgba(255, 255, 255, 15);
}

FluTabBarItem:disabled #textBtn {
    color: rgba(255, 255, 255, 93);
}

FluTabBarItem:disabled #iconBtn {
    color: rgba(255, 255, 255, 93);
}