FluToggleSwitch {
    qproperty-borderColor: rgb(71, 74, 79);
    qproperty-fillColor: rgb(44, 48, 54);
    qproperty-fillColorOn: rgb(82, 139, 255);
    qproperty-knobColor: rgb(255, 255, 255);
    qproperty-textColor: rgb(255, 255, 255);
}
